* {
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #322F2B;
}

.wrapper {
    width: 100%;
}
            /* MAIN HAEDER */
.main-heading {
    background-color: #82A382;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 210px;
    padding: 20px 0px 5px 0px;
}
.nav {
    padding: 5px 0px 20px 0px;
}
.nav ul a li {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
}
.nav ul {
    list-style-type: none;
}
.nav li {
    text-decoration: underline;
}
.nav a {
    padding: 5px; 
    text-decoration: none;
}



/*-*/


            /*JUMBO-TRON*/
.jumbotron {
    width: 100%;
    height: 100%;
    background-image: url(jumbo-bg.gif);
    background-position: center;
    background-size: cover;
}
.jumbotron-filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.jumbotron-text p {
    font-size: 45px;
    color: #FFF;
    text-align: center;
    padding: 125px 10px 0px 10px;
    font-weight: bolder;
}

/*MAIN-CONTENT*/
.main-body {
}
.sect {
    padding: 19px;
    background-color: whitesmoke;
    text-align: center;
}
.sect ul li {
    color: #000;
    font-size: 17px;
    padding: 25px;
    list-style-type: none;
}
span {
    font-weight: bolder;
}
.sect-heading {
    font-size: 23px;
    text-align: center;
    padding: 30px;
}
.sect-line {
    padding: 25px;
}


/*-*/


            /*FOOTER*/
.main-footer {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #82a294;
}
.main-footer p {
    color: #FFF;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
}
.main-footer p a {
    color: #FFF;
}
/* FIX FOOTER TEXT PADDING!! */

/*-*/